.card-component {
  width: 20rem;
  height: 25rem;
  position: relative;
  /* border:1px red solid; */
  margin: 0 3rem 3rem;
  padding-top: 2rem;
  box-shadow: 0.3rem 0.3rem 1rem black;
  border-radius: 1rem;
}
.stock-icon {
  position: absolute;
  right: 1.2rem;
  top: 1.4rem;
}

.info-icon {
  position: absolute;
  top: 1.1rem;
  left: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.product-img-container {
  text-align: center;
}
.product-img {
  height: 10rem;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-to-cart-btn,
.add-to-cart-btn:active {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem 4rem 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: #bada55;
  outline: none;
  border-radius: 0 0 1rem 1rem;
}

.add-to-cart-btn:active {
  background-color: #bada5560;
}

.add-to-cart-btn:hover {
  cursor: pointer;
}

.update-cart {
  display: flex;
  justify-content: space-around;
}

.remove-from-cart-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #dc3535;
  cursor: pointer;
  color: white;
  outline: none;
}

.remove-from-cart-btn:active {
  outline: none;
}

.update-cart input {
  width: 6rem;
  border-radius: 1rem;
  padding-left: 0.7rem;
}

.cart-btn {
  height: 2rem
}
@media screen and (max-width: 375px) {
  .card-component {

    padding-top: 2.5rem;

  }
  .stock-icon {
    position: absolute;
    right: 1.1rem;
    top: 0.8rem;
  }

  .info-icon {
    position: absolute;
    top: 0.6rem;
    left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .add-to-cart-btn,
  .add-to-cart-btn:active {
    padding: 0.8rem 3em 0;
  }
}
